@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  font-size: 16px;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --font-size: 1.1rem;
  --primary-color: #9575cd;
  --grey-variant: #344c3a;
  --primary: #0984e3;
  --success: #2ecc71;
  --warning: #e74c3c;
  --font-color: #fffff3;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.button {
  background-color: var(--grey-variant);
  color: var(--font-color);
  padding: var(--space-1) var(--space-2);
  border-radius: 0.5rem;
  font-size: var(--font-size);
}
.button-primary {
  background-color: var(--primary-color);
}
.button-warning {
  background-color: var(--warning);
}
.button-border {
  background-color: white;
  color: var(--grey-variant);
  border: 1.5px solid var(--grey-variant);
  padding: var(--space-1) var(--space-2);
  border-radius: 0.5rem;
  font-size: var(--font-size);
}
.button-border:hover {
  color: var(--font-color);
  background-color: var(--grey-variant);
}
.border-primary {
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
}
.border-primary:hover {
  color: var(--font-color);
  background-color: var(--primary-color);
}
.border-warning {
  color: var(--warning);
  border: 1.5px solid var(--warning);
}
.border-warning:hover {
  color: var(--font-color);
  background-color: var(--warning);
}
