.list{
   /* list-style-type: none; */
   display: flex;
   flex-direction: column;
}
.list-numbered{
    list-style-type: decimal;
}
.list-dotted{
    list-style-type: disc;
}
.list-item{
    padding: 00.25rem;
    font-size: 1rem;
}